doctype html
html(lang='en')
  head
    //  1Mind Solutions
      -----------
          __ _   _    _             _ 
         /  | \_/ \  (_) _ __    __| |
          | |_   _ \ | || '_ \  / _  |
          | | \_/ \ \| || | | || (_| |
          |_|      \/|_||_| |_| \__,_|
      ---------------------------------

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Day or Night Unicorn')

    link(rel='shortcut icon' href='./favicon.ico' type='image/x-icon')
    link(rel='stylesheet' type='text/css' href='./global.css')

    script(defer type='module' src='./src/js/index.js')

    title Day or Night Unicorn

  body.night

    main
      .setTimeWrap
        //- //? can a data-set value control viewBox?

        svg(fill='none' viewBox='0 100 650 100')
          path(data-cloud fill='#FCEDFD' stroke='#000' d='M254.7 117h.5v-.5l-.3-4c0-11 6-21 16-28.2a66.5 66.5 0 0139-11.8c23.9 0 44.1 11 51.7 26.4l.2.3h.3l2.7-.1c20.5 0 37.1 15.9 37.1 35.5 0 9.8-4.8 19.2-12 25.8a32.7 32.7 0 01-25 9.8h0-84.5 0c-6 3.2-13.1 5-20.8 5-20.6 0-37.1-13.2-37.1-29.2 0-14.8 14-27 32.2-29z')

        .inputs
          input#inputTime(type="time" list="dayTimeList")
          button#setTimeBtn.btn Set Time
          datalist#dayTimeList
            option(value="08:31")
            option(value="20:31")

      svg#scene(fill='none' viewBox='0 0 1020 600')
        //todo clean up unused id's

        defs
        g#GrassHill
          g#stars(fill='#F7F7F7')
            path(id='Star 1' d='M703.18 160.6l-1.5 12.25 11.2 5.22-12.13 2.36-1.5 12.26-6-10.8-12.12 2.36 8.42-9.04-5.99-10.8 11.2 5.22 8.42-9.04z')
            path(id='Star 7' d='M598 248l3.82 11.75h12.35l-10 7.26 3.82 11.74-9.99-7.26-10 7.26 3.82-11.74-9.99-7.26h12.35L598 248z')
            path(id='Star 6' d='M407.85 301.08l5.33 5.47 6.84-3.38-3.55 6.75 5.32 5.47-7.52-1.3-3.54 6.76-1.1-7.55-7.52-1.29 6.84-3.38-1.1-7.55z')
            path(id='Star 8' d='M597.58 44.17l5.45 11.09 12.22-1.76-8.85 8.6 5.45 11.09-10.92-5.76-8.86 8.6 2.1-12.16-10.92-5.76 12.22-1.77 2.1-12.17z')
            path(id='Star 2' d='M453.98 88.84l-11.23 3-.61 11.62-6.33-9.75-11.23 3 7.32-9.03-6.33-9.75 10.85 4.17 7.32-9.04-.61 11.61 10.85 4.17z')
            path(id='Star 3' d='M290 199l2.47 7.6h8l-6.47 4.7 2.47 7.6-6.47-4.7-6.47 4.7 2.47-7.6-6.46-4.7h7.99L290 199z')
            path(id='Star 4' d='M475.14 221.21l.94 7.94 7.84 1.56-7.25 3.34.94 7.94-5.43-5.87-7.26 3.35 3.9-6.98-5.42-5.86 7.84 1.56 3.9-6.98z')
            path(id='Star 5' d='M728 50l2.47 7.6h8L732 62.3l2.47 7.6-6.47-4.7-6.47 4.7 2.47-7.6-6.46-4.7h7.99L728 50z')

          g#clock
            g#sun
              path#Subtract(fill='#FFF493' fill-rule='evenodd' d='M513.7 426.42a3 3 0 00-5.1 0l-6.78 10.92a3 3 0 01-3.69 1.2l-11.9-4.86a3 3 0 00-4.12 3l.94 12.82a3 3 0 01-2.28 3.13l-12.48 3.07a3 3 0 00-1.58 4.85l8.3 9.82a3 3 0 010 3.87l-8.3 9.82a3 3 0 001.58 4.85l12.48 3.07a3 3 0 012.28 3.13l-.94 12.82a3 3 0 004.12 3l11.9-4.85a3 3 0 013.69 1.2l6.77 10.92a3 3 0 005.1 0l6.78-10.93a3 3 0 013.68-1.2l11.9 4.86a3 3 0 004.13-3l-.94-12.81a3 3 0 012.27-3.14l12.49-3.07a3 3 0 001.57-4.85l-8.3-9.82a3 3 0 010-3.87l8.3-9.82a3 3 0 00-1.57-4.85l-12.49-3.06a3 3 0 01-2.27-3.14l.94-12.82a3 3 0 00-4.13-3l-11.9 4.86a3 3 0 01-3.68-1.2l-6.78-10.92zm-2.56 74.89a29 29 0 100-58 29 29 0 000 58z' clip-rule='evenodd')
              circle(id='Ellipse 10' cx='511.14' cy='472.31' r='25' fill='#FFDD64')
            g#moon
              circle(id='Ellipse 12' cx='510.5' cy='141.5' r='27.5' fill='#FEFFC7')
              circle(id='Ellipse 13' cx='499' cy='127' r='5' fill='#E5E6B9')
              circle(id='Ellipse 14' cx='519' cy='150' r='9' fill='#E5E5B9')

          path#ground(fill='#A3CB90' stroke='#000' d='M51.51 589.5c.1-2.35.87-5.22 2.32-8.55a77.07 77.07 0 016.9-12.15c6.1-9 15.09-19.66 26.7-31.33 23.2-23.34 56.83-50.67 98.44-76.74 83.24-52.15 198.4-99.23 326.13-99.23 127.74 0 246.27 47.08 332.88 99.23 43.3 26.08 78.62 53.41 103.1 76.75 12.23 11.67 21.75 22.34 28.21 31.34a76.4 76.4 0 017.34 12.14c1.54 3.33 2.36 6.2 2.46 8.54H51.5z')

          g(id='tent')
            path(fill='#F5EC9A' d='M628 395.48L553.5 394l25 46H642l-14-44.52z')
            path(fill='#F5EC9A' d='M578.5 440l-25-46-25.5 46h50.5z')
            path(stroke='#000' d='M553.5 394l74.5 1.48L642 440h-63.5m-25-46l25 46m-25-46L528 440h50.5')

            g(id='lights' fill='#FFDD64' )
              path(stroke='#000' d='M544.76 440c-2.4-14.77.96-26.17 8.86-45-7.68 20.16.98 45 7.38 45h-16.24z')
              path(stroke='#000' d='M587.5 410.5h29v12h-29z')

          path#river(fill='#9EECFD' stroke='#000' d='M376.7 450.43C347.98 469.08 196.6 551.06 134 589.5h230.5s-1.4-74.35 23.27-87.51c24.67-13.17 67.48-32.36 25.68-97.63L393.5 374l-26 6.5s37.9 51.28 9.2 69.93z')

          g#tree(stroke='#000')
            path(fill='#7E7272' d='M222.86 402.91H245v86.56c-7.72 7.13-13.44 12.18-22.13 12.36v-98.92z')
            path#Union(fill='#618E76' d='M194.54 351.32l39.39-126.83 39.38 126.83h-8.42l.2.65 16.23 51.2h-9.35l.2.66 19.16 60.7h-114.8l19.15-60.7.2-.65h-9.34l16.22-51.21.2-.65h-8.42z')
          g#tree_2(stroke='#000')
            path(fill='#7E7272' d='M314.73 421.97a20.46 20.46 0 01-5.6 1.66l-.6-49.54h11.16v44.6a16.1 16.1 0 01-4.96 3.28z')
            path#Union_2(fill='#618E76' d='M293.7 346.46l20.4-65.72 20.41 65.72h-4.43l.2.65 8.45 26.64h-4.92l.2.65 9.99 31.64h-59.78l9.98-31.64.2-.65h-4.91l8.44-26.64.2-.65h-4.43z')
          g#tree_3(stroke='#000')
            path(fill='#7E7272' d='M460.89 381.53l-.36-30.03h6.46v29.14c-1.42.41-3.86.84-6.1.9z')
            path#Union_3(fill='#618E76' d='M451.5 334.16l12.26-39.47L476 334.16H473.3l.2.65 5.1 16.1H475.59l.2.65 6.05 19.16h-36.15l6.05-19.16.2-.65H448.92l5.1-16.1.2-.65h-2.72z')
          g#tree_4(stroke='#000')
            path(id='Rectangle 4_4' fill='#7E7272' d='M721.8 421.84l.5-41.38h-9.16v37.67l.16.15c1.6 1.48 2.77 2.56 4.02 3.18 1.22.6 2.55.8 4.49.38z')
            path#Union_4(fill='#618E76' d='M731.17 357.86l7.01 22.15H734.07l.21.66 8.31 26.33h-49.73l8.31-26.33.2-.66h-4.11l7.02-22.15.2-.65h-3.69l16.94-54.56 16.93 54.56h-3.7l.2.65z')
          g#tree_5(stroke='#000')
            path(id='Rectangle 4_5' fill='#7E7272' d='M679.77 544.44l1.15-94.96h-22.06v86.31l.61.57c3.59 3.32 6.3 5.82 9.23 7.28 3.01 1.5 6.3 1.9 11.07.8z')
            path#Union_5(fill='#618E76' d='M700.97 398.67l16.18 51.07h-9.32l.2.65 19.1 60.52H612.65l19.1-60.52.2-.65h-9.31l16.17-51.07.2-.65h-8.38l39.26-126.47 39.27 126.47h-8.39l.2.65z')
          g#tree_6(stroke='#000')
            path(id='Rectangle 4_6' fill='#7E7272' d='M503.63 387.91l.5-41.42h-9.17v41.41c1.82.54 3.19.8 4.49.8 1.3 0 2.56-.26 4.18-.79z')
            path#Union_6(fill='#618E76' d='M512.99 323.9l7.02 22.15h-4.11l.2.65 8.31 26.33h-49.73L483 346.7l.2-.65H479.1l7.02-22.16.2-.65h-3.7l16.94-54.55 16.94 54.55h-3.71l.2.65z')

          path#largeRock(fill='#C4C4C4' stroke='#000' d='M262.56 503h-21.7c-3.93-.72-5.54-1.85-6.86-5.02 1.7-7.1 4.48-8.61 8-12.56 2.92-5.62 4.3-8.38 9.7-9.42 6.23 2.89 9.56 5.24 14.29 13.19.1 7.1-.3 10.54-3.43 13.81z')
          path#smallRock(fill='#C4C4C4' stroke='#000' d='M258.33 497.17l9.81-10.48c2.05-1.6 3.21-1.88 5.01-1.17 1.94 3.84 1.26 5.83 1.17 9.21.81 3.8 1.24 5.66-.8 8.7-3.92 1.78-6.31 2.39-11.48 1.28-2.74-2.97-3.88-4.63-3.7-7.54z')

          g#happyCloud
            path#Union_7(fill='#FCEDFD' stroke='#000' d='M254.7 117.02l.52-.05-.07-.51c-.18-1.31-.27-2.64-.27-3.98 0-10.98 6.1-20.96 16.05-28.22C280.88 77 294.65 72.5 309.9 72.5c23.87 0 44.1 11.05 51.74 26.38l.15.3.33-.02c.9-.07 1.8-.1 2.71-.1 20.5 0 37.08 15.94 37.08 35.55 0 9.8-4.83 19.15-11.91 25.84-7.08 6.69-16.34 10.64-25.12 9.71H280.44l-.1.06a44.2 44.2 0 01-20.76 5c-20.6 0-37.08-13.19-37.08-29.22 0-14.75 13.93-27.08 32.2-28.98z')
            g#cloudEyes(fill='#000')
              path(id='Ellipse 4' d='M301 117a7.5 7.5 0 11-15 0h2.25a5.25 5.25 0 1010.5 0H301z')
              path(id='Ellipse 5' d='M331.98 117.07a7.5 7.5 0 11-15 0h2.25a5.25 5.25 0 0010.5 0h2.25z')

          g#smallClouds(fill='#FCEDFD' stroke='#000')
            path#smallCloud-right(d='M760.33 124.5h-.08l-.07.02a47.08 47.08 0 01-13.68 1.98c-9.16 0-17.44-2.5-23.4-6.5-5.98-4.02-9.6-9.5-9.6-15.5 0-5.09 2.6-9.8 7.04-13.57 4.43-3.76 10.68-6.56 17.89-7.77l.23-.04.12-.2C744.63 72.69 757.72 65.5 773 65.5c14.04 0 26.23 6.07 32.66 15l.17.23.28-.03c1.44-.13 2.9-.2 4.39-.2 9.16 0 17.43 2.6 23.4 6.8 5.97 4.18 9.6 9.92 9.6 16.2 0 6.28-3.63 12.02-9.6 16.2-5.97 4.2-14.24 6.8-23.4 6.8-4.77 0-9.3-.7-13.4-1.98l-.07-.02h-36.7z')
            path#smallCloud(d='M411.71 167.49l-.51-.06.07-.5c.1-.7.14-1.41.14-2.13 0-5.83-3.26-11.16-8.63-15.04-5.36-3.89-12.8-6.3-21.02-6.3-12.92 0-23.81 5.93-27.9 14.1l-.16.3-.33-.02a21.2 21.2 0 00-1.45-.05c-11.03 0-19.92 8.52-19.92 18.97 0 5.2 2.6 10.2 6.4 13.78 3.8 3.58 8.78 5.68 13.46 5.18h45.95l.11.06a23.9 23.9 0 0011.16 2.67c11.12 0 19.92-7.07 19.92-15.55 0-7.8-7.43-14.4-17.29-15.41z')

          g#sittingDown(stroke='#000')
            path(id='Vector 31' fill='#9795EF' d='M466.57 514.56c-1.57 1.76-19.4 35.44-38.07 29.01l19.37 11.84c12.83-37.93 35.93-4.47 50.9-25.67-8.94 3.42 1.15-14.5 4.05-18.9-7.18 2.54-12.7 23.9-24.39 14.08 11.08.97 5.57.77 17.6-12.48-12.93 6.18-15.04-14.06-29.46 2.12z')
            path(id='Vector 27' fill='#C4C4C4' d='M399.4 535.85c3.5-7.95 15.78-10.06 15-5.25 1.84 8.49 3.77 2.02.65 27.23l-1.48 9.2c-8.68 4.22-13.15 2.16-21.72-4.18l7.54-27z')
            path(id='Vector 28' fill='#E7E3E3' d='M394.86 552.7l-2.97 9.94c8.24 6.5 13.14 8.77 21.72 4.18l1.25-7.83c-6.8-6.3-10.03-8.87-20-6.29z')
            path(id='Vector 23' fill='#C4C4C4' d='M475.8 535.5c-3.55-8.05-15.96-10.18-15.18-5.3-1.85 8.57-3.81 2.03-.65 27.53l1.5 9.3c8.78 4.28 13.3 2.2 21.96-4.22l-7.62-27.31z')
            path(id='Ellipse 2' fill='#C4C4C4' d='M469.6 529.26c0 11.75-2.7 19.55-8.15 24.43-5.47 4.9-13.81 6.95-25.37 6.95s-18.79-2.06-23.16-6.91c-4.39-4.87-6.02-12.67-6.02-24.47 0-11.74 2.79-22.32 8.13-29.95 5.33-7.62 13.2-12.32 23.45-12.32s18 4.7 23.22 12.31c5.22 7.63 7.9 18.22 7.9 29.96z')
            path(id='Vector 24' fill='#E7E3E3' d='M480.4 552.55l3 10.05c-8.34 6.57-13.3 8.88-21.97 4.22l-1.27-7.91c6.87-6.38 10.14-8.98 20.24-6.36z')
            path(id='Vector 25' d='M455.5 507.35c-4.96 24.05-7.35 34.9-13.57 45.53 4.71 4.12 8.21 4.56 15.04 4.08')
            path(id='Vector 26' fill='#E7E3E3' d='M442 552.85c.02 1.4 8.63 5.79 15.97 4.09-.32 2.47-.64 4.62-1.49 5.32-7.44 1.13-11.23.88-16.71-4.5.05-2.03 2.23-4.91 2.23-4.91z')
            path(id='Vector 29' d='M419.37 507.82c2.78 18.19 4.13 28.81 13.57 45.54-4.7 4.12-8.21 4.55-15.03 4.07')
            path(id='Vector 30' fill='#E7E3E3' d='M432.88 553.32c-.02 1.4-8.63 5.8-15.97 4.1.31 2.47.63 4.62 1.48 5.31 7.44 1.13 11.23.89 16.72-4.5-.06-2.03-2.23-4.9-2.23-4.9z')

          g#campFire(stroke='#000')
            g#firewood(fill='#83663B')
              path(id='Rectangle 6' d='M495.7 448h24v2h-24z' transform='rotate(-39.6 495.7 448)')
              path(id='Rectangle 9' d='M505.04 451.04h24v2h-24z' transform='rotate(-74.56 505.04 451.04)')
              path(id='Rectangle 7' d='M523.03 449.73h24v2h-24z' transform='rotate(-139.76 523.03 449.73)')
              path(id='Rectangle 8' d='M516.79 450.42h24v2h-24z' transform='rotate(-120.3 516.79 450.42)')

            g#fire
              path#Subtract_2(fill='#FFDD64' d='M510 410.5c1.71 0 3.34.46 4.8 1.29a6.4 6.4 0 00-2.14 1.37c-1.01.94-1.94 2.2-2.67 3.53a14.86 14.86 0 00-1.55 4.02c-.26 1.24-.26 2.46.29 3.28a8.95 8.95 0 002.13 2.07c.85.62 1.8 1.16 2.62 1.45.4.14.8.24 1.15.23.35 0 .77-.13.98-.54.2-.37.13-.82-.02-1.25-.16-.45-.45-1-.89-1.66a8.88 8.88 0 01-1.37-2.8c-.14-.63-.03-.96.09-1.14.12-.2.32-.3.53-.36l.2-.05.13.08.7.4c.59.29 1.39.63 2.21.77.83.14 1.76.1 2.52-.48a3 3 0 00.96-1.39c.54 1.62.83 3.4.83 5.25 0 7.87-5.24 14.07-11.5 14.07s-11.5-6.2-11.5-14.07 5.24-14.07 11.5-14.07z')
              path#Subtract_3(fill='#FFC165' d='M514.53 431.75a4.4 4.4 0 001.85-1.4 9.08 9.08 0 01-1.25 3.9c-.92 1.4-2.36 2.25-4.56 2.25-4.42 0-8.07-3.88-8.07-8.76a9.06 9.06 0 012.8-6.63c-.09 2.01.1 4.01.5 5.32.3.95 1 1.99 1.88 2.9.88.92 1.99 1.74 3.17 2.22 1.18.5 2.47.66 3.68.2z')

          g#head
            g(id='Vector 5')
              path(fill='#9795EF' d='M459.12 444.18c9.79 2.6 10.31 3.8 17.47 7.25-3.76.77-4.68 1.49-11.44-.4 1.23 1.12 7.3 1.7 9.68 3.38-7.64-.6-6.73-.47-7.69 0 6.46 1.1 11.8 2.94 13.6 7.11-7.09-.88-8.13 2.04-9.89 1.93 17.9 1.74 6.95 15.3 17.93 21.36-14.88-1.55-15.36-7.9-21.68-10.94 2.62 7.81 5.36 11.22 13.65 14.72h-5.92l10.43 2.22c-4.34.29-15.01 1.64-11.72 5.65-8.73 3.94-13.54 2.47-22.06-2.72l7.64-49.56z')
              path(stroke='#000' d='M459.12 444.18c9.79 2.6 10.31 3.8 17.47 7.25-3.76.77-4.68 1.49-11.44-.4 1.23 1.12 7.3 1.7 9.68 3.38-7.64-.6-6.73-.47-7.69 0 6.46 1.1 11.8 2.94 13.6 7.11-7.2-.9-8.17 2.14-9.98 1.92 18.02 1.7 7.02 15.3 18.02 21.37-14.88-1.55-15.36-7.9-21.68-10.94 2.62 7.81 5.36 11.22 13.65 14.72h-5.92l10.43 2.22c-4.34.29-15.01 1.64-11.72 5.65-8.73 3.94-13.54 2.47-22.06-2.72l7.64-49.56z')
            path(id='Vector 4' fill='#C4C4C4' stroke='#000' d='M412.08 431.7c-8.62-3.63-10.29-2.2-6.6 6.6l5.86 11.54c3.83-6.8 6.73-9.56 13-13l-12.26-5.15z')
            path(id='Vector 7' fill='#E7E3E3' stroke='#000' d='M413.41 435.8c-3.77-1.79-4.44-1.22-2.63 2.62l2.82 5.08c1.44-2.8 2.6-3.89 5.17-5.17l-5.36-2.54z')
            path(id='Vector 3' fill='#C4C4C4' stroke='#000' d='M469.23 438.2c3.96-8.1 2.65-9.87-6.12-7.04l-11.57 4.7c6.46 4.36 9 7.45 12.04 13.9l5.65-11.55z')
            path(id='Vector 6' fill='#E7E3E3' stroke='#000' d='M464.36 438.57c1.9-3.36 1.42-4.01-2.25-2.6l-4.87 2.27c2.48 1.51 3.41 2.66 4.43 5.12l2.7-4.79z')
            path(id='Ellipse 1' fill='#C4C4C4' stroke='#000' d='M466.64 462.81c0 8.44-2 17.4-6.6 24.22-4.58 6.8-11.77 11.52-22.27 11.52s-17.7-4.72-22.28-11.52c-4.6-6.83-6.6-15.78-6.6-24.21 0-16.76 12.95-30.3 28.88-30.3 15.92 0 28.87 13.54 28.87 30.3z')
            path(id='Rectangle 2' fill='#E7E3E3' d='M429.75 486.28c0-1.03.94-1.8 1.94-1.6l1.74.33a1.47 1.47 0 01-.28 2.9h-1.77c-.9 0-1.63-.73-1.63-1.63z')
            path(id='Rectangle 3' fill='#E7E3E3' d='M445.84 486.22c0-1.03-.94-1.8-1.95-1.6l-1.73.33a1.47 1.47 0 00.28 2.9h1.76c.9 0 1.64-.73 1.64-1.63z')
            path(id='Ellipse 3' fill='#624A4A' d='M420.17 472.8a6.08 6.08 0 1112.16 0h-1.82a4.26 4.26 0 10-8.51 0h-1.83z')
            path(id='Ellipse 4_2' fill='#624A4A' d='M442.17 472.8a6.08 6.08 0 1112.16 0h-1.83a4.26 4.26 0 10-8.5 0h-1.83z')

            g#sunGlasses(stroke='#000')
              path(id='Vector 33' fill='#5B5B5B' d='M432.82 461.67h-25.55v13.28c11.28 4.3 16.59 5.57 25.55 0l1.85-8.96h5.18l1.85 8.96c8.13 4.48 16.1 5.04 25.18 0l.37-13.6-25.55.32-1.85 1.23h-5.18l-1.85-1.23z')
              path(id='Vector 35' fill='#FFE2E2' d='M431.9 463.83h-22.1v9.76c9.02 3.4 13.48 3.54 20.16 0l1.94-9.76z')
              path(id='Vector 36' fill='#FFE2E2' d='M442.63 463.83h22.1v9.76c-9.03 3.4-13.49 3.54-20.16 0l-1.94-9.76z')

            path(id='Vector 2' fill='#9795EF' stroke='#000' d='M451.65 435.01c-29.16-9.88-42.44 9.84-40.24 15.01 1.94-2.33 25.75 6.08 38.94 15.53-4.27-3.88-2.08-4.94-9.7-8.67 6.47 1.7 8.7 3.22 12.3 6.08l-3.63-4.53c7.21 7.97 11.1 7.13 21.87 12.68-3.63-6.73-10.51-7.1-9.7-12.68.24 3.78 4.49 6.87 13.2 12.68-3.5-9.96-8.94-31.32-23.04-36.1z')
            path(id='Vector 1' fill='#F4F0C6' stroke='#000' d='M442.06 417.92c-4.3-21.19-4.6-21.26-9.33 0l-4.02 24.71c7.18 2.8 11.2 2.76 18.37 0l-5.02-24.71z')
            path(id='Vector 11' stroke='#000' d='M440.8 412.48c-2.2 2.2-5.17 1.68-7.63 4.79l-1.68 8.8c2.72-3.88 9.31-2.98 10.87-6.47l-1.56-7.12z')
            path(id='Vector 12' stroke='#000' d='M443.78 426.46c-3.75 4.14-9.32 1.68-13.59 6.47l-1.03 6.72c4.66-4.91 12.03-2.07 16.04-6.72l-1.42-6.47z')

    .bottom
